@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.otf');
}
@font-face {
    font-family: 'Geometria Medium';
    src: url('../fonts/Geometria-Medium.otf');
}
@font-face {
    font-family: 'Geometria Bold';
    src: url('../fonts/Geometria-Bold.otf');
}
body{
    font-family: 'Geometria';
    font-size: 16px;
}
button{
    outline: none;
}
img{
    max-width: 100%;
}
.section-1{
    background: url("../images/bg1.png") no-repeat center top;
    background-size: cover;
    min-height: 1000px;
    background-color: #4910ba;
}
.menu{
    padding:15px 0;
    transition: all ease 0.3s;
}
.menu ul li a:hover,
.menu ul li a:focus {
    background: transparent;
    text-decoration: underline;
}
.menu ul li a{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Geometria Medium';
    font-size: 14px;
}
.icon-bar{
    background: #fff;
}
.logotype{
    width: 276px;
}
.text-top{
    color: #fff;
    width: 450px;
    max-width: 100%;
}
.text-top h1{
    font-size: 36px;
    margin-bottom: 60px;
}
.text-top h1 span{
    text-transform: uppercase;
    font-family: 'Geometria Bold';
    display: block;
}
.btns{
    height: 45px;
    border-radius: 22px;
    border: 2px solid #ffffff;
    color: #fff;
    text-transform: uppercase;
    padding:0 25px;
    outline: none;
    background: transparent;
}
.section-2{
    background: #efe8fa;
    padding: 40px 0 80px;
}
.img-service img{
    width: 80px;
    height:80px;
    object-fit: contain;
}
.img-service{
    margin-bottom: 30px;
}
.name-service{
    width: 188px;
    height: 42px;
    margin: 10px auto;
    font-family: 'Geometria Medium';
}
.section-3{
    background: url("../images/bg2.png") no-repeat top center;
    min-height: 1000px;
    background-size: cover;
    color: #fff;
    padding: 100px 0 300px;
    position: relative;
}
.icons{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60px;
    height:60px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    float: left;
}
.icon1{
    background-image: url("../images/icons1.png");
}
.icon2{
    background-image: url("../images/icons2.png");
}
.icon3{
    background-image: url("../images/icons3.png");
}
.item-pred{
    margin-bottom: 50px;
}
.item-pred span{
    display:block;
    margin-left: 80px;
    font-size: 15px;
}
.text-opis{
    margin-bottom: 60px;
}
.img-icons{
    text-align: center;
    margin-top: -50px;
}
.img-icons a{
    color: #fff;
}
.img-icons span{
    display: inline-block;
    padding:0 25px;
}
.service-center{
    width: 700px;
    margin: 50px auto;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    max-width: 100%
}
.btns-blue{
    font-size: 16px;
    color: #fff;
    height: 60px;
    border:0;
    padding: 0 30px;
    border-radius: 30px;
    background-color: #4f2799;
    background-image: linear-gradient(to top, #000090 0%, #4f2799 100%);
    position: absolute;
    top:-30px;
    left:50%;
        white-space: nowrap;
    transform: translate(-50%, 0);
}
.footer{
    min-height: 330px;
    background-color: #2b1a4a;
    position: relative;
    padding-top: 260px;
}
.img-phone{
    position: absolute;
    top: -250px;
    left: 50%;
    transform: translate(-50%, 0);

}
.footer-bottom,
.footer-bottom a{
    color: #fff;
    font-size: 12px;
}
.icon-address{
    background: url(../images/icon-address.png) no-repeat center;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 5px;
}
.info-address span{
    margin-left: 30px;
    display: block;
}
.icon-message{
    background: url(../images/icon-message.png) no-repeat center;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px
}
.icon-phon{
    background: url(../images/icon-phon.png) no-repeat center;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px
}
.affix.menu {
    padding: 10px 0 5px 0;
} 
.affix {
    position: fixed;
    width: 100%;
    left: 0;
    background-color: #4f2799;
/*    background-image: linear-gradient(to top, #000090 0%, #4f2799 100%);*/
    z-index: 1000;
}
.affix .logotype {
    width: 170px;
}
@media (max-width: 1200px) {
    .logotype {
        width: 200px;
    }
    .section-1{
        min-height: 400px;
    }
    .text-top h1 {
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 0;
}
}
@media (max-width: 767px) {
    .logotype{
        width: 150px;
    }
    .navbar-toggle{
        margin: 0;
    }
}
@media (max-height:800px) {
    .section-1{
        min-height: 780px
    }
}
@media (max-width:767px) {
    .section-1 {
    min-height: auto;
        background-image: none;
    padding-bottom: 30px;
}
    .img-icons span {
    padding: 0 10px;
}
    .service-center{
        font-size: 22px;
    }
    .footer {
    min-height: auto;
    background-color: #2b1a4a;
    position: relative;
    padding-top: 0px;
}
    .img-phone {
        position: static;
        transform: translate(0, 0);
}
    .section-3{
        padding: 100px 0 40px;
    }
    .list-img img{
        margin-bottom: 20px;
        margin-top: 20px;
    }
}